*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Volkorn', serif;
    list-style-type: none;
    text-decoration: none;
    outline: none;
}

html{
    font: 62.5%;
}

:root{
    --primary-color: #2b81e4;
    --secondary-color: #eee;
    --grey-color: #555;
    --light-grey-color: #777
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    background: var(--secondary-color);
    margin: 3.5rem;
    box-shadow: 0 1rem 3rem var(--grey-color) ;
    overflow: hidden;
}


/* Navbar */

.navbar-icon{
    width: 5.5rem;
    height: 5.5rem;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.navbar-icon .line{
    height: 0.2rem;
    width: 3.5rem;
    background: var(--light-grey-color);
    
}

.open-navbar-icon{
    flex-direction: column;
    position: fixed;
    top: 6.5rem;
    left: 6.5rem;
    z-index: 200;
}

.open-navbar-icon .line {
    margin: 0.3rem;
}

.navbar-wrapper{
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(255, 255, 255, 0.7); */
    padding: 3.5rem ;
    position: fixed;
    left: 0;
    bottom: -100%;
    opacity: 0;
    z-index: 300;
    transition: bottom 0.5s, opacity 0.2s;
}

.change .navbar-wrapper{
    bottom: 0;
    opacity: 1;
    transition: bottom 0.5s, opacity 0.2s 0.25s;
}

.navbar{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3), url('/images/navbar-bg.jpg') center/cover no-repeat);
    position: relative;
}

.close-navbar-icon{
    flex-direction: column;
    position: absolute;
    top: 2.5rem;
    right: 3rem;
    z-index: 100;
}

.close-navbar-icon .line{
    position: absolute;
}

.line-1{
    transform: rotate(40deg);
}

.line-2{
    transform: rotate(-40deg);
}

.nav-list{
    height: 100%;
    display: flex;

}

.nav-link{
    width: 100%;
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    opacity: 0.9;
    position: relative;
    top: -100%;
    transition: all 0.3s;
}

.change .nav-link{
    top: 0;
}

.nav-link:hover{
    opacity: 1;
    color: var(--primary-color);
    transition: all 0.3s;
}

.change .nav-link:nth-child(1){
    transition: top 1s 0.4s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(2){
    transition: top 1s 0.6s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(3){
    transition: top 1s 0.8s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(4){
    transition: top 1s 1s, opacity 0.3s, color 0.3s;
}

.change .nav-link:nth-child(5){
    transition: top 1s 1.2s, opacity 0.3s, color 0.3s;
}

.navbar .nav-link:nth-child(1){
 background: #6495ed;
}

.navbar .nav-link:nth-child(2){
    background: #7fffd4;
}
.navbar .nav-link:nth-child(3){
    background: #ffa07a;
}
.navbar .nav-link:nth-child(4){
    background: #f08080;
}
.navbar .nav-link:nth-child(5){
    background: #afeeee;
}

/* End of Navbar */

/* Header */

.header{
    width: 100%;
    height: calc(100vh - 7rem);
    background: linear-gradient(rgba(18, 113, 255, 0.5),rgba(18, 113, 255, 0.3)), url('/images/header-bg.jpg') center/cover no-repeat;
    position: relative;
    perspective: 100rem;
}

.header-text{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0.3rem 0.5rem var(--grey-color);
}

.heading{
    font-size: 8rem;
    color: white;
}

.header-paragraph{
    font-size: 2rem;
    font-weight: 500;
    color: var(--secondary-color);
    max-width: 70rem;
    margin: auto;
}

.logo{
    position: absolute;
    top: 4rem;
    right: 4rem;
}

.logo h1{
    display: flex;
    
}


.logo h1 span{
    font-size: 2rem;
    font-weight: 900;
    color: var(--primary-color);
    text-transform: uppercase;
    background: white;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1  span:nth-child(1){
    animation: drop-letters 2s 0.1s infinite;
}
.logo h1  span:nth-child(2){
    animation: drop-letters 2s 0.2s infinite;
}
.logo h1  span:nth-child(3){
    animation: drop-letters 2s 0.3s infinite;
}
.logo h1  span:nth-child(4){
    animation: drop-letters 2s 0.4s infinite;
}
.logo h1  span:nth-child(5){
    animation: drop-letters 2s 0.5s infinite;
}
.logo h1  span:nth-child(6){
    animation: drop-letters 2s 0.6s infinite;
}
.logo h1  span:nth-child(7){
    animation: drop-letters 2s 0.7s infinite;
}

@keyframes drop-letters {
    0%{
        transform: translateY(0);
    }

    10%{
        transform: translateY(0);
    }

    15%{
        transform: translateY(-100%);
    }

    20%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(0);
    }
}


.header-img{
    width: 35%;
    animation: img-float 150s infinite;
}

@keyframes img-float{
    0%{
        transform: translateZ(40rem);
        opacity: 1;
    }

    40%{
        transform: translateZ(-500rem) translateX(150rem); 
        opacity: 0.8;
    }

    70%{
        transform: translateZ(-1500rem) translateX(800rem);
        opacity: 0.6;
    }

    80%{
        transform: translateZ(-50rem) translateX(100rem);
        opacity: 0.8;
    }

    100%{
        transform: translateZ(40rem);
        opacity: 1;
    }



}


/* End of Header */